body{
    background-color:#ffffff;
    color:#0000ff;
    text-align:center;
}

.logo{
	width:60px;
	height:60px; 
}

.imagem{
    text-align:center;
    border:1px solid;
    float:left;

}

.tab, th, td{
	border:1px dotted;
}


.texto1{
	clear:both;
}

.texto2{
	border:2px solid;
	clear: both;
	width:80%;
	margin: 0px auto 0px auto;
}